@model Domain.MealBox

@{
    ViewBag.Title = @Model.MealBoxName + " Details";
}

<div class=" container mt-5 mb-3">
    <div class="row my-2">
        <div class="col">
            <h2 class="display-4">@Model.MealBoxName</h2>
        </div>
    </div>
    <div class="row my-2">
        <div class="col">
            <img src="/images/box.jpg" class="img-thumbnail" style="width: 20rem" alt="">
        </div>
        
        <div class="col">
            @if (@Model.Products != null)
            {
                <h3>Bevat de volgende producten:</h3>
                <ul>
                    @foreach (var p in @Model.Products)
                    {
                        <li>@p.Name</li>
                    }
                </ul>
            }
        </div>
    </div>
    <div class="row my-2">
        <div class="col">
            <h3>€@Model.Price</h3>
        </div>
    </div>
    <div class="row my-2">
        <div class="col">
            <p>Op te halen van @Model.PickupDateTime tot @Model.ExpireTime</p>
        </div>

    </div>

    <div class="row my-2">
        <li class="list-inline-item">
            <button class="btn btn-outline-danger">Reservatie annuleren</button>
        </li>
    </div>

</div>
<hr>