@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Domain.MealBox
@{
    var id = $"confirmationModal{Model.Id}";
    var target = "#" + id;
}
<div class="card ">
    @if (Model.Products.Count > 0)
    {
        var r = new Random().Next(Model.Products.Count);
        <img src="@Model.Products.ToList()[r].Photo" class="card-img-top " style="height: 20em; object-fit: cover" alt="...">
    }
    else
    {
        <img src="/images/box.jpg" class="card-img-top " style="height: 20em; object-fit: cover" alt="...">
    }
    <div class="card-body">
        <h3>@Model.MealBoxName</h3>
        <ul class="list-unstyled">
            <li >@Model.PickupDateTime.Date</li>
            <li >€@Model.Price</li>
            <li >@Model.City</li>
            <li >@(Model.EighteenPlus ? @"18+" : "16+") producten</li>

        </ul>
        <a asp-controller="MaaltijdBox" asp-action="BoxDetails" asp-route-id="@Model.Id">
            <button class="btn btn btn-outline-success">Details</button>
        </a>
        @if (@User.IsInRole("employee"))
        {
            <a asp-controller="MaaltijdBox" asp-action="Aanpassen" asp-route-id="@Model.Id">
                <button class="btn btn-outline-info">Wijzigen</button>
            </a>
            <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="@target">Verwijderen</button>
        }

    </div>
    @if (@User.IsInRole("employee"))
    {
        <div class="modal fade" id="@id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Verwijder</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Weet u het zeker?
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Annuleren</button>
                        <a asp-controller="MaaltijdBox" asp-action="Verwijder" asp-route-id="@Model.Id">
                            <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Bevestigen</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }



</div>